<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>

<style>
  .swal2-modal .swal2-title{
    font-size: 25px;
      line-height: 1;
      font-weight: 500;
      color: #f3f7fb;
      font-weight: initial;
      margin-bottom: 0;
    }
    .swal2-container.swal2-center>.swal2-popup{
    grid-column: 2;
      grid-row: 2;
      align-self: center;
      BACKGROUND-COLOR: rgb(26 27 34);
      justify-self: center;
    }
</style>
<%- include('../layouts/adminHeader.ejs') %>
<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title"> Banner Management </h3>
      
      <nav aria-label="breadcrumb">
         <!-- {{!-- <input type="submit" class="btn btn-primary btn-fw" href="/admin/addProduct">Add Product</input> --}} -->
         <a href="/admin/addBanner" class="btn btn-lg btn-primary btn-fw">Add Banner</a>
        <!-- {{!-- <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Tables</a></li>
          <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
        </ol> --}} -->
      </nav>
    </div>
<div class="row">
<div class="col-lg-12 grid-margin stretch-card">
<div class="card">
<div class="card-body">
<h4 class="card-title">Banner List</h4>
<!-- {{!-- <p class="card-description"> Add class <code>.table-striped</code> --}}
</p> -->
<div class="table-responsive">
  <table class="table table-bordered table-contextual">
    <thead>
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% banners.forEach(function(banner) { %>
        <tr>
          <td style="width: 200px; height: 200px;">
            <img src="/banner-images/<%= banner.image %>" alt="Banner Image" style="width: 200px; height: 200px; border-radius: 0;">
          </td>
          <td><%= banner.title %></td>
          
          
          <td>
            <span data-bs-toggle="tooltip" data-bs-placement="top" title="<%= banner.description %>" style="display: inline-block; max-width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
              <%= banner.description %>
            </span>
          </td>
          <td><a href="/admin/updateBannerGet?id=<%= banner._id %>"><i class="mdi mdi-pencil"></i></a></td>
          <td><center><i class="mdi mdi-delete" onclick="deleteBanner('<%= banner._id %>')"></i></center></td>
        </tr>
      <% }); %>
  
    </tbody>

  </div>
  </table>
  
</div>                 
</div>
</div>
</div>
</div>

<%- include('../layouts/adminFooter.ejs') %>

<script>
  function deleteBanner(id)
  {
    Swal.fire({
      title: 'Are you sure to delete this Banner?',
      text: "You won't be able to revert this!",
      // icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Delete',
      timer: 6000
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url:'/admin/deleteBanner',
          method:'post',
          data: {
            id: id,
          },
          success:(response)=>
          {
            if(response)
            {
              location.reload()
            }
          }
        })
      }
    })
  }
</script>