	<%- include('../layouts/adminHeader.ejs') %>

        <!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">Order Details</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/order">Order Management</a></li>
          <li class="breadcrumb-item active" aria-current="page">View Order</li>
        </ol>
      </nav>
    </div>
    <div style="overflow-x: auto; -webkit-overflow-scrolling: touch;">
      <div class="row-lg-12">
        <div class="col-lg-3 grid-margin stretch-card">
          <% for (let i = 0; i < products.length; i++) { %>
            <div class="card ml-3">
              <div class="card-body">
                <h4 class="card-title"><%= products[i].productName %></h4>
                <div class="item">
                  <center>
                    <img src="/product-images/<%= orders[i].productData[0] %>" alt="" style="height: 200px; width: 200px;">
                  </center>
                </div>
                <div class="flex-grow">
                  <p class="text-muted">₹<%= products[i].productPrice %> x <%= products[i].quantity %></p>
                </div>
              </div>
            </div>
          <% }; %>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Visitors by Countries</h4>
              <div class="row">
                <div class="col-md-5">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <% products.forEach(function(product) { %>
                        <tr>
                          <td><%= product.productName %></td>

                          <td class="text-right"> ₹<%= product.productPrice %> </td>
                          <td class="text-right font-weight-medium">  <%= product.quantity %></td>
                        </tr>
                        <% }); %>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                    <div class="text-md-center text-xl-left">
                      <h6 class="mb-2">Order Details</h6>
                      <p class="text-muted mb-0"><span style="color: aliceblue;">ID :</span> <%= orders[0].orders._id %></p>
                      <p class="text-muted mb-0"><span style="color: aliceblue;">Payment Method :</span> <%= orders[0].orders.paymentMethod %></p>
                      <p class="text-muted mb-0"><span style="color: aliceblue;">Order Status :</span> <%= orders[0].orders.orderStatus %></p>
                      <p class="text-muted mb-0"><span style="color: aliceblue;">Date of order :</span> <%= new Date(orders[0].orders.createdAt).toLocaleDateString('en-US') %> </p>
                      <br>
                      <h6 class="mb-2">Billing Details</h6>
                      <p class="text-muted mb-0"><span style="color: aliceblue;">Name :</span> <%= orders.name %></p>
                      <p class="text-muted mb-0"><span style="color: aliceblue;">House address :</span> <%= address.item.houseAddress %></p>
                      <p class="text-muted mb-0"><span style="color: aliceblue;">Street :</span> <%= address.item.street %></p>
                      <p class="text-muted mb-0"><span style="color: aliceblue;">City :</span> <%= address.item.city %></p>
                      <p class="text-muted mb-0"><span style="color: aliceblue;">Postcode :</span> <%= address.item.pin %></p>
                    </div>
                    <div class=" flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                      <h6 class="font-weight-bold mb-0">₹<%= orders[0].orders.totalPrice %></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
<%- include('../layouts/adminFooter.ejs') %>
