<%- include('../layouts/adminHeader.ejs') %>

<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Order Management </h3>
        </div>
        <!--Order list-->
        <div class="row ">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                    <h4 class="card-title">Order List</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th> User Name </th>
                                        <th> Order No </th>
                                        <th> Cost </th>   
                                        <th> Payment Mode </th>
                                        <th> Date </th>
                                        <th> Order Status </th>
                                        <th> View Order</th>
                                        <th> Change Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% order.forEach(function(item) { %>
                                    <tr>
                                        <td><span class="pl-2"><%= item.orders.name %></span></td>
                                        <td style="padding:0"><%= item.orders._id %></td>
                                        <td >₹<%= item.orders.totalPrice %></td>
                                        <td><%= item.orders.paymentMethod %></td>

                                        <td><%= new Date(item.orders.createdAt).toLocaleDateString('en-US') %></td>
                                       
                                        <td     >
                                            <center>
                                            <% if (item.orders.orderStatus === 'Placed') { %>
                                                <div class="badge badge-outline-primary"><%= item.orders.orderStatus %></div>

                                            <% } else if (item.orders.orderStatus === 'Dispatched') { %>
                                                <div class="badge badge-outline-info"><%= item.orders.orderStatus %></div>

                                            <% } else if (item.orders.orderStatus === 'Cancel Requested') { %>
                                                <div class="badge badge-outline-warning"><%= item.orders.orderStatus %></div>

                                            <% } else if (item.orders.orderStatus === 'Return Requested') { %>
                                                <div class="badge badge-outline-warning"><%= item.orders.orderStatus %></div>

                                            <% } else if (item.orders.orderStatus === 'Delivered') { %>
                                                <div class="badge badge-outline-success"><%= item.orders.orderStatus %></div>


                                                <% } else if (item.orders.orderStatus === 'Return Declined') { %>
                                                    <div class="badge badge-outline-secondary"><%= item.orders.orderStatus %></div>

                                                    <% } else if (item.orders.orderStatus === 'Return Accepted') { %>
                                                        <div class="badge badge-outline-secondary"><%= item.orders.orderStatus %></div>

                                            <% } else { %>
                                                <div class="badge badge-outline-danger"><%= item.orders.orderStatus %></div>
                                            <% } %>
                                        </center>
                                        </td>
                                       
                                        <td style="padding:0"><a class="btn btn-light create-new-button" id="createbuttonDropdown" aria-expanded="false" href="/admin/orderData?id=<%= item.orders._id %>">View</a></td>
                                        <td style="padding:0">
                                            <div class="input-group-prepend">
                                                <% if (item.orders.orderStatus === 'Cancelled' || item.orders.orderStatus === 'Delivered' || item.orders.orderStatus === 'Pending') { %>
                                                    <button class="btn btn-sm btn-outline-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>Action</button>
                                                    
                                                <% } else { %>
                                                    <button class="btn btn-sm btn-outline-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
                                                    <div class="dropdown-menu">

                                                        <% if (item.orders.orderStatus === 'Placed') { %>
                                                            <a class="dropdown-item" href="#" onclick="cancelStatus('<%=item.orders._id%>','Cancel')">Cancel order</a>
                                                            <a class="dropdown-item" href="#" onclick="orderStatus('<%=item.orders._id%>','Dispatched')">Dispatch</a>

                                                        <% } else if (item.orders.orderStatus === 'Dispatched') { %>
                                                            <a class="dropdown-item" href="#" onclick="orderStatus('<%=item.orders._id%>','Delivered')">Delivered</a>

                                                        <% } else if (item.orders.orderStatus === 'Cancel Requested') { %>
                                                            <a class="dropdown-item" href="#" onclick="cancelStatus('<%=item.orders._id%>','Cancelled')">Accept</a>
                                                            <a class="dropdown-item" href="#" onclick="cancelStatus('<%=item.orders._id%>','Cancel Declined')">Decline</a>

                                                        <% } else if (item.orders.orderStatus === 'Return Requested') { %>
                                                            <a class="dropdown-item" href="#" onclick="returnOrder('<%=item.orders._id%>','Return Accepted')">Accept</a>
                                                            <a class="dropdown-item" href="#" onclick="returnOrder('<%=item.orders._id%>','Return Declined')">Decline</a>

                                                        <% } else { %>
                                                            <a class="dropdown-item" href="#">No Action</a>

                                                        <% } %>
                                                    </div>
                                                <% } %>
                                            </div>
              
                                        </td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                            <div class="pagination-area mt-15 mb-50" style="width: 50px;">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-start">
                                        <% if (page > 1) { %>
                                        <li class="page-item active"><a class="page-link" href="/admin/order?page=<%= page - 1 %>&limit=<%= limit %>" >Pre</a></li>
                                        <% } %>
                                        <!-- <li class="page-item">Page <%= page %> of <%= totalPages %></li> -->
                                        <% for (let i = 1; i <= totalPages; i++) { %>
                                            <% if (i === page) { %>
                                                <li class="page-item active" style="padding-right: 12px; padding-left: 12px; color: dodgerblue;"><span><%= i %> </span></li>
                                            <% } else { %>
                                              <li class="page-item active" ><a class="page-link" href="/admin/order?page=<%= i %>&limit=<%= limit %>"><%= i %></a></li>
                                            <% } %>
                                          <% } %>
                                        <% if (page < totalPages) { %>
                                        <li class="page-item active"><a class="page-link" href="/admin/order?page=<%= page + 1 %>&limit=<%= limit %>" style="width: 80px;">Next</i>
                                        </a></li>
                                        <% } %>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--Order list-->

</div>
<!-- content-wrapper ends -->
<!-- partial:../../partials/_footer.html -->
<%- include('../layouts/adminFooter.ejs') %>

<script>
  
  
    function orderStatus(orderId, status)
    {
      console.log(orderId, status);
      $.ajax({
        url:'/admin/orderStatus',
        method:'put',
        data: {
          orderId: orderId,
          status: status
        },
        success:(response)=>
        {
          if(response)
          {
            location.reload()
          }
        }
      })
    }
    function cancelStatus(orderId, status)
    {
      console.log(orderId, status);
      $.ajax({
        url:'/admin/cancelStatus',
        method:'put',
        data: {
          orderId: orderId,
          status: status
        },
        success:(response)=>
        {
          if(response.status)
          {
            location.reload()
          }
        }
      })
    }
    
    function returnOrder(orderId, status)
    {
      console.log(orderId, status);
      $.ajax({
        url:'/admin/returnOrder',
        method:'put',
        data: {
          orderId: orderId,
          status: status
        },
        success:(response)=>
        {
          if(response)
          {
            location.reload()
          }
        }
      })
    }
    
    // $(document).ready(function () {
    //   $('#dtOrderExample').DataTable({
    //     "order": [[ 3, "desc" ]]
    //   });
    //     $('.dataTables_length').addClass('bs-select');
    // });
    
       </script>
</script>