<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

  <style>
    td{
      background-color: #181b23;
    }
  </style>
  <%- include('../layouts/adminHeader.ejs') %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Product Management </h3>
              
              <nav aria-label="breadcrumb">
                 <!-- {{!-- <input type="submit" class="btn btn-primary btn-fw" href="/admin/addProduct">Add Product</input> --}} -->
                 <a href="/admin/addProduct" class="btn btn-lg btn-primary btn-fw">Add Product</a>
                <!-- {{!-- <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Tables</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
                </ol> --}} -->
              </nav>
            </div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Product List</h4>
        <!-- {{!-- <p class="card-description"> Add class <code>.table-striped</code> --}}
        </p> -->
        <div class="table-responsive">
          <table class="table table-bordered table-contextual" id="myTable" >
            <thead>
              <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Price</th>
                <th>Edit</th>
                <th>List/Unlist</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody >
              <% find.forEach((product) => { %>
              <tr>
                <td style="height: 200px; width:200px">
                  <i class="fab fa-angular fa-lg text-danger me-3">
                    <img src="/product-images/<%= product.image[0] %>" alt="Product Image" style="width: 200px; height: 200px;">
                  </i>
                  <strong></strong>
                </td>
                <td><%= product.name %></td>
                <td><%= product.brand %></td>
                <td><%= product.category.name %></td>
                <td>&#8377; <%= product.price %></td>
                <td><a href="/admin/updateProduct?userid=<%= product._id %>"><i class="mdi mdi-border-color"></i></a></td>
                <td><a href="/admin/unlistProduct?id=<%= product._id %>"><center><i class="mdi mdi-delete"></i></center></a></td>
                <% if (product.is_product_listed) { %>
                  <td><label class="badge badge-success">Listed</label></td>
                <% } else { %>
                  <td><label class="badge badge-danger">Unlisted</label></td>
                <% } %>
              </tr>
              <% }); %>
            </tbody>
          </div>
          </table>
          
        </div>                 
      </div>
    </div>
  </div>
</div>

<%- include('../layouts/adminFooter.ejs') %>

<script>
  $(document).ready(function() {
  $.noConflict();
    $('#myTable').DataTable({
      "paging": true,          // Enable pagination
      "pageLength": 10,        // Number of rows per page
      "lengthMenu": [10, 25, 50, 75, 100],  // Dropdown options for rows per page

    });
  });
    </script>
